@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202a] text-gray-300;
  }
  .max-container {
    /* background-color: red; */
    max-width: 1200px;
    margin: 0 auto;
  }
  .max-width-description {
    max-width: 600px;
  }
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 15px;
  }
  .movie-stats {
    margin-left: 1rem;
    color: white;
  }
  @media screen and (max-width: 1025px) {
    .movie-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .movie-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 426px) {
    .movie-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (max-width: 375px) {
    .movie-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
